[2019-12-02 20:23] kiukchung opened #6 "Define a TrainStepRetryableException and catch it in train_loop.py"
## 🚀 Feature
Currently train_loop catches `RuntimeError` from `train_step` and retries but `Exception` does not retry. This implies that `RuntimeErrors` are considered retryable versus `Exception` is not. Clearly define Retryable vs NonRetryable exceptions for `train_step` and use that to decide whether the `train_step` should be rolled back and retried.

## Motivation
Better, clearer API and exce

[2019-12-02 20:30] kiukchung opened #7 "Print most recent exception before failing on max_failures in train_loop"
## 🚀 Feature
Currently `train_loop.train` will throw a `RuntimeError` when max_failures has been exhausted. Carry the information about the most recent exception when doing so.

## Motivation
Helps with debugging

## Pitch
N/A

## Alternatives
N/A

## Additional context
Link to code: https://github.com/pytorch/elastic/blob/master/torchelastic/train_loop.py#L43

[2019-12-02 21:28] kiukchung opened #8 "Redefine `should_save_checkpoint` in state"
## 🚀 Feature
Currently `state` API has a `should_save_checkpoint` which has a couple of issues:

1. `CheckpointUtil` assumes that all workers will return the same value from `should_save_checkpoint`
2. `CheckpointUtil` chooses worker with rank == 0 to be the "representative" to load the checkpoint, then leans on `sync()` to broadcast the state to other workers.
3. #2 may not be the correct choice

[2019-12-02 21:31] kiukchung opened #9 "Implement or delete `Checkpoint.discard()`"
## 🚀 Feature
`Checkpoint` API currently has a `discard()` method that is unimplemented and marked with a TODO. This should either be implemented or removed.

## Motivation

Cleaner API

## Pitch

N/A

## Alternatives

N/A

## Additional context

https://github.com/pytorch/elastic/blob/master/torchelastic/checkpoint/api.py#L203

[2019-12-02 21:51] kiukchung opened #10 "Make `straggler_threshold` configurable"
## 🚀 Feature
See: https://github.com/pytorch/elastic/blob/master/torchelastic/p2p/coordinator_p2p.py#L211
Currently it is hard coded to 0.8:

[code]

## Motivation

0.8 might not be the best value for all use-cases, make this configurable.

## Pitch

N/A

## Alternatives
N/A

## Additional context
0.8 was taken from a legacy job.

[2019-12-02 21:57] kiukchung opened #11 "Switch to EtcdStore when torch 1.4 is released"
## 🚀 Feature
Currently EtcdRendezvous returns a TCPStore. We have already implemented an EtcdStore which should be used to keep things consistent. At the moment it is not possible to use torch distributed process groups with EtcdStore since EtcdStore is a pure python implementation and torch distributed expects there to be a pybind. A trampoline was added in torch to make this possible and should

[2019-12-03 22:14] kiukchung opened #12 "[rdzv] Implement `etcd_rendezvous#load_extra_data()` timeout."
## 🚀 Feature
In `EtcdRendezvous`' the method `load_extra_data(self, rdzv_version, key, timeout=None)` has as `timeout` parameter which never gets used. Implement the timeout enforcement by using this parameter.

## Motivation
Unimplemented method feature.

## Pitch
N/A

## Alternatives
N/A

## Additional context

[2019-12-10 04:33] ewhal opened #16 "Out of the box Kubernetes documentation/support"
## Description
Would be best to provide kubernetes examples and docs as to make this not AWS specific.
K8s with auto-scaling could also potentially simplify any of the aws specific code and allow for greater options of pipelines in the future

[2019-12-10 04:43] kiukchung commented on #16
Thank you for the feedback! Yes, k8 support is definitely on our radar as a fast-follow feature. We decided to support vanilla ec2 for our rc release as an example to ensure that torchelastic setup is transferable to as many runtime environments without being tied to a specific provider. Stay tuned!

[2019-12-10 04:43] #16 closed

[2019-12-14 08:48] kit1980 opened #18 "Why petctl name for the AWS tool?"
I'm just wondering, why `petctl` name for the AWS tool? Is it an abbreviation or maybe it has some other meaning?

[2019-12-16 19:42] kiukchung commented on #18
`pet` stands for PyTorch Elastic Trainer, which was the code name for torchelastic while it was being developed. `ctl` stands for Control, and commonly used as a suffix for CLI tools.

As for `petctl` currently being AWS only. We initially shipped with AWS support but plan to expand to other platforms. When this happens it will make sense to pull `petctl` out of the `aws` directory onto its own.

[2019-12-16 21:39] #18 closed

[2019-12-30 04:43] dev777-create opened #25 "training hang when remove/add instances"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [x] `train_loop`
 * [x] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [ ] other

## To Reproduce

Steps to reproduce the behavior:

1. Start etcd process
2. Start two instances of Classy Vision [example](https://github.com/pytorch/el

[2020-01-03 06:10] Jeffwan opened #26 "Job fails when the number of dataset are not exactly divided by the batch size"
## ❓ Questions and Help

I am trying resnet101 and imagenet [example](https://github.com/pytorch/elastic/tree/master/examples/imagenet) with tiny imagenet dataset (https://tiny-imagenet.herokuapp.com/ ).

I notice there's a failure in the customized sampler https://github.com/pytorch/elastic/blob/f5a0968aa3842a1f29e1d36aee59cb2acff5cfaa/torchelastic/utils/data/elastic_distributed_sampler.py#L38-L4

[2020-01-06 21:12] kiukchung commented on #25
Thanks for the bug report! I've seen this issue happen due to the dataloader processes that get spawned in the background - the exact root cause is still TBD, but the symptom is exactly like you describe (trainers get stuck). Do make sure that is the root cause can you try running the classy vision example with `--num_workers 0` parameter? This prevents the dataloader processes from being spawned

[2020-01-07 01:30] kiukchung commented on #26
Thanks for reporting this issue. Answers in-line:

1. Should I specify drop_last=True in DataLoader initialization?
   Should not be necessary, if you set `drop_last=True` does that get rid of the exception? From the stack-trace I see that your dataset size is 100,000 and batch size is 32, which divides 100,000 (100,000/32 = 3,125). How many workers are you using?

2. If start_index == len(dataset

[2020-01-07 18:43] Jeffwan commented on #26
I am using 2 workers. it should finish 99968 (1562 iterations * 64). Only 32 are left and that's the reason I am considering to drop the last few records.  Even with `drop_last=True`, sampler recalculate start_index and this will fail.

Make sense. A new Sampler need to be initialized for every `sync` . Let's assume start_index == len(dataset) - 64, dataloader should throw `StopIteration` and epoc

[2020-01-08 00:26] kit1980 opened #28 "Providing keys and certs to access etcd"
Is there a way to provide keys and certs to use for accessing the etcd endpoint?
Similar to these CURL options:  `--cacert /etc/kubernetes/certs/ca.crt --cert /etc/kubernetes/certs/client.crt --key /etc/kubernetes/certs/client.key`

`python-etcd` seems to have ways to setup this, `EtcdRendezvous` doesn't.

[2020-01-08 01:55] kit1980 commented on #28
And a prerequisite to the certs question: `etcd_rendezvous.py` doesn't seem to provided a way to specify `https` protocol, right?

[2020-01-08 19:26] kiukchung commented on #26
You are correct, I'm looking into why the `start_index` that is passed to the constructor of elastic sampler shoots past the length of the data.

[2020-01-08 19:41] kiukchung commented on #28
You are correct, we do not properly dependency inject the EtcdClient into EtcdRendezvous, therefore not allowing the user to pass additional constructor arguments when creating EtcdClient.

We could add a `kwargs` constructor argument to EtcdRendezvous that we simply expand and pass-through EtcdClient, and construct the `kwargs` map by parsing any "unknown" additional parameters in the rendezvous

[2020-01-08 19:44] kit1980 commented on #28
This sounds good to me.
I can try this in my setup and send the PR.

[2020-01-08 19:48] kiukchung commented on #28
Sounds good, looking forward to your PR! You may already know this but I figured this may save you some time, the code below is where we parse the rendezvous URL that is passed by the user:

https://github.com/pytorch/elastic/blob/master/torchelastic/rendezvous/etcd_rendezvous.py#L1126

[2020-01-16 01:05] #28 closed

[2020-01-17 19:33] kit1980 opened #31 "Using IP address instead of name for TCPStore creation"
In my setup,  I get "host not found" errors for TCPStore :

[code]

Changing to use IP address instead of name for TCPStore creation fixes the issue for me.
[code]

Is there a reason why we may want to use name? Or using IP address always should be OK?

Or maybe because PyTorch 1.4 has been released we should just switch to EtcdStore?

[2020-01-18 00:05] kiukchung commented on #31
Hey Sergii,

Yep moving to EtcdStore is the plan. There's a few validations that I'm running on this before we remove this hack:

https://github.com/pytorch/elastic/blob/master/torchelastic/rendezvous/etcd_rendezvous.py#L108

I'm curious about the hostname setup that you have. Looks like worker 1 (rank 1) can't dns resolve rank 0's hostname (pytorch-elastic-test-z2b7s). Can you try:

* If running

[2020-01-22 05:34] kiukchung commented on #31
FWIW I've switched over to EtcdStore on this PR: https://github.com/pytorch/elastic/pull/34
so that I can also close https://github.com/pytorch/elastic/issues/11.

Will close this issue when PR-34 gets merged to trunk. Unless you have additional comments/concerns. Thanks!

[2020-01-22 21:59] #31 closed

[2020-01-23 01:47] kit1980 opened #37 "EtcdStore: No constructor defined"
Hi,

I've updated my torchelastic to latest (including https://github.com/pytorch/elastic/commit/393a26c3ba1b31bbf155766a0b7b1bbd54fdc5b5 commit) and PyTorch to 1.4.

My test setup used to work OK with TCPStore, now I get an error:

[code]

Is EtcdStore should to be ready to use now or some code updates are still needed?

[2020-01-23 02:20] kiukchung commented on #37
Hey, yea I realized this as well. Turns out the commit we need was not included in pytorch v1.4.0 release.... This is the commit we need
https://github.com/pytorch/pytorch/commit/1d3f3a1a0cc0f66b51d8e8f4006fb200e18e2818

Running
`git tag --contains 1d3f3a1a0cc0f66b51d8e8f4006fb200e18e2818`
on the pytorch git repo doesn't return anything....

I'm shuffling through the torch nightly release to see i

[2020-01-23 02:42] kiukchung commented on #37
I validated that this works if we take a dependency on the torch nightly build.
[code]
I think this unblocks you immediately. I'll have a fix out for `setup.py` so that we can just take a dependency on torch-nightly for the time being until torch-1.5 is released.

[2020-01-23 02:44] kit1980 commented on #37
Thanks, I'll try with that PyTorch commit.
I'm personally totally OK with nightly PyTorch build requirement for now, but maybe you should mention this prominently for others potentially trying torchelastic.

[2020-01-23 02:46] kiukchung commented on #37
FYI, here's the exact version of torch I validated with:

[code]

[2020-01-23 22:31] kit1980 commented on #37
Thank you, I've verified on my setup that it works with PyTorch nightly.

[2020-01-23 22:31] #37 closed

[2020-01-27 23:15] kiukchung opened #39 "Remove dependency to torch 1.5.0 nightly when 1.5.0 releases"
## 🐛 Bug

Currently torchelastic-0.1.0rc2 (trunk) depends on torch nightly to use `EtcdStore` instead of the `TCPStore`. The following two things need to happen when torch 1.5.0 releases:

1. In `requirements.txt`  change the dependency to `torch>1.4.0` to `torch>=1.5.0`
2. Edit `.circleci/config.yml#install_dep` target to remove the manual install of torch nightly

## Known workarounds
* Manually

[2020-01-28 02:21] kiukchung commented on #25
closing as I've not heard back from the OP, feel free to reopen if this continues being an issue.

[2020-01-28 02:21] #25 closed

[2020-02-21 23:48] kiukchung opened #48 "[train_loop] Remove usage of `state` returned by `train_step`"
## Description
Remove assignment and usage (if any) of `state` as the return value from `train_step` in the `train_loop`.

https://github.com/pytorch/elastic/blob/master/torchelastic/train_loop.py#L29

Should change to
[code]
## Motivation/Background
Currently `train` expects `train_step` to return `state` and `worker_stats`. Returning `state` from `train_step` is unnatural since `state` is expect

[2020-03-16 19:56] chauhang opened #57 "Provide cluster delete steps"
## 📚 Documentation

## Link
https://pytorch.org/elastic/0.1.0rc2/kubernetes.html#clean-up-job

## What does it currently say?
Steps for deleting the cluster are missing. Simply issuing eksctl delete cluster does not work due to EFS mount points added as part of the config

## What should it say?
Provide clear steps for deleting the full cluster, including directions for unmounting EFS mount points

[2020-03-17 02:21] chauhang opened #58 "Imagenet example not working on EKS"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [x] `examples`
 * [ ] `docker`
 * [x] other

## To Reproduce

Steps to reproduce the behavior:

1. Setup PET EKS cluster as per the steps described in https://pytorch.org/elastic/0.1.0rc2/kubernete

[2020-03-17 19:06] chauhang commented on #58
@Jeffwan Can you please take a look for the EKS setting needed to make the EFS mount points working inside EKS?

[2020-03-17 21:47] Jeffwan commented on #58
/assign @Jeffwan

[2020-03-17 21:50] Jeffwan commented on #58
I think the problem is on the EFS side.  Could you help verify EFS mount settings and security group setting? Make sure your use `public subnet` and `ClusterSharedNodeGroup`

https://github.com/pytorch/elastic/blob/master/docs/source/_static/img/efs-setup.jpg

[2020-03-17 22:03] Jeffwan opened #59 "Code structure for kubernetes operator codes"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before submitting, please ensure you have gone through our documentation. Here
are some links that may be helpful:

* [What is torchelastic?](../../README.md)
* [Quickstart on AWS](../../aws/README.md)
* [Usage](../../USAGE.md)
* [Examples](../../examples/README.md)
* API documentati

[2020-03-17 22:50] drdarshan commented on #59
Hello @Jeffwan, could you please move the operator implementation under the Kubernetes directory? I suppose we can defer moving the example there since it'll look quite different with the operator compared to what you have now. Let me know if you have any other questions. Thanks!

[2020-03-18 21:39] raviskolli opened #61 "Support for NCCL backend"
## ❓ Questions and Help

### Question
[ImageNet example](../tree/master/examples/imagenet/main.py) provided two options for distributed backed- gloo and nccl. I see the following error when I specify nccl as the backend

INFO 2020-03-18 18:12:24,504 Waiting for confirmations from all peers.
INFO 2020-03-18 18:12:24,506 Rendezvous version 4 is complete. Final state: {'status': 'final', 'version': '

[2020-03-19 18:55] Jeffwan commented on #59
@drdarshan Thanks for the guidance. I just file the PR #63 for operator codesand I will file a separate PR to move k8s examples to examples folder.

[2020-03-19 19:38] #59 closed

[2020-03-19 19:53] kiukchung commented on #61
Thanks for reporting. This is a bug in our `examples/imagenet/main.py`. torchelastic supports all pytorch backends. Issue is in the way `ImagenetState._sync_state()` is implemented. Specifically on this line: https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py#L129

It creates a CPU tensor to broadcast the current `size` of the state object but uses the default process group (

[2020-03-19 19:55] kiukchung opened #64 "imagenet example does not work with nccl"
## 🐛 Bug
TLDR; image net example crashes with nccl
See https://github.com/pytorch/elastic/issues/61

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [x] `examples`
 * [ ] `docker`
 * [ ] other

## To Reproduce

Run the example with `backend=="nccl"`

## E

[2020-03-19 19:56] kiukchung commented on #61
I've filed a bug report https://github.com/pytorch/elastic/issues/64. Closing this, please track the fix on the other issue. Thanks!

[2020-03-19 19:56] #61 closed

[2020-03-20 01:12] drdarshan commented on #48
Hello @kiukchung - shall we close this preemptively since the state will become obsolete?

[2020-03-20 09:13] kiukchung commented on #48
closing as v0.2.0 will no longer require users to implement `State` and `train_step`

[2020-03-20 09:13] #48 closed

[2020-03-20 09:35] kiukchung commented on #9
obsolete with v0.2.0. Closing

[2020-03-20 09:35] #9 closed

[2020-03-20 09:35] kiukchung commented on #7
obsolete with v0.2.0. Closing

[2020-03-20 09:35] #7 closed

[2020-03-20 09:36] kiukchung commented on #8
obsolete with v0.2.0. Closing

[2020-03-20 09:36] #8 closed

[2020-03-20 20:59] raviskolli commented on #26
I ran into the same issue of data_start_index incrementing past the length of the dataset. At the end of an epoch, data loader throws StopIteration exception that is then caught in
https://github.com/pytorch/elastic/blob/be9201268c357f7e0a9872c3edb75534e67842be/torchelastic/utils/data/cycling_iterator.py#L35-L41

Note that state is not synced at the end of epoch. So start_data_idx is never reset.

[2020-03-21 03:22] drdarshan opened #66 "Request for Feedback: PyTorch Elastic Trainer v0.2"
# Introduction
PyTorch Elastic Trainer (PET) provides a framework for conveniently training models across a compute cluster in a _fault tolerant_ and _elastic_ manner.  PET provides these features in two ways:
1. When a PyTorch worker process throws a certain class of retriable errors, it is caught by PET and the training process is retried.
2. A new worker can leave or join the process pool for a

[2020-03-30 04:31] chauhang commented on #58
@Jeffwan  I tried out the steps for EFS mounting. By default the VPC security group gets selected, so changed it to the ClusterSahredNodeGroup.

The Imagenet sample is still not working and and the pod logs show failedscheduleing error for GPU nodes:

[code]

The data download step is crashing due to the centos 'yum update' stuck in waiting for Y/N. Please update 'yum update -y' in the datadlowloa

[2020-03-30 04:46] chauhang commented on #58
@Jeffwan  For Nvidia GPUs it will be better to switch to the new GPU operator to make it easier for developers. Can we update the example to use this mechanism instead:

https://devblogs.nvidia.com/nvidia-gpu-operator-simplifying-gpu-management-in-kubernetes/

[2020-03-30 04:50] Jeffwan commented on #58
I will update the pod to fetch the data. BTW, are you using device plugin? It shows insufficient GPUs and looks like your cluster doesn't have available GPUs

[2020-03-30 04:59] chauhang commented on #58
@Jeffwan Yes I used the Nvidia plugin as per the instructions and spun up the cluster with p3.2xlarge nodes. Is there anyway to troubleshoot the deamonset setup and check the actual GPU resources?

[2020-03-30 05:31] Jeffwan commented on #58
1. Can you run `kubectl get ds` and check if daemonset are up?
2. Check your node status. `kubectl get nodes` and then `kubectl describe node xxx` to check node allocatable resources

[2020-03-30 05:33] chauhang opened #74 "Add example with checkpointing and recovery for Kubernetes"
## Description
Add a new training example for Kubernetes that demos how to do checkpointing and use it for fault tolerant recovery.

## Motivation/Background
To make it easier for model developers to benefit from the fault tolerant feature of torchelastic.

## Detailed Proposal

- Simple example can include checkpoint on every worker node, or just on the rank 0  node and describe how to recover fr

[2020-03-30 05:41] chauhang opened #75 "For Kubernetes provide sample using Nvidia GPU operator"
## Description
Add a sample that uses the [Nvidia GPU operator](https://github.com/NVIDIA/gpu-operator) for Kubernetes instead on the older daemonset based approach

## Motivation/Background
The Nvidia GPU operator simplifies the deployment and management of gpu containers on Kubernetes. Using this sol will make it easier to manage and monitor the GPU resources. More details [here](https://devblog

[2020-03-31 01:41] Jeffwan opened #76 "Remove unnecessary port in Kubernetes operator examples"
## Description

In operator examples, we add container port there because underneath framework requires a port to create headless service. This is unnecessary for torch elastic job because it doesn't open exact same port for workers to communicate with each other.

https://github.com/pytorch/elastic/blob/114e81c5a227521e1c28cc76469c8b398b02010b/kubernetes/config/samples/imagenet.yaml#L23-L25

I re

[2020-03-31 04:19] Jeffwan opened #77 "Kubernetes controller doesn't handle replicas scale down well"
## 🐛 Bug

This is a known issue on the dependency side. I have a PR merged in the dependency repo here
https://github.com/kubeflow/common/pull/58.

Update dependency will resolve this problem.

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples

[2020-03-31 04:20] Jeffwan commented on #76
I will file a PR to address this issue

[2020-03-31 04:20] Jeffwan commented on #77
I will file a PR to address this issue.

[2020-04-07 20:25] chauhang opened #90 "Imagenet example crashing on Kubernetes"
## 🐛 Bug

The Imagenet example does not work on Kubernetes, crashes with error " ValueError: Start index 100000 should be less than dataset size 100000"

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [X] `examples`
 * [ ] `docker`
 * [ ] other

## To Re

[2020-04-07 20:29] chauhang commented on #58
@Jeffwan The ` kubectl get ds` returns `No resources found.`  Nothings shows up in the EKS console in AWS or the logs that indicates it is running or not. Is there something missing in our config?

[2020-04-07 20:31] kiukchung commented on #90
We are transitioning from 0.1.0 to 0.2.0 the kubernetes examples will be updated accordingly

[2020-04-07 20:32] #77 closed

[2020-04-07 20:32] #76 closed

[2020-04-07 20:34] kiukchung commented on #74
See our new imagenet example for a full e2e script with checkpoint built-in. https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py#L158

[2020-04-07 20:34] #74 closed

[2020-04-07 20:34] kiukchung commented on #57
users should refer to the CSP specific manual for cluster teardown steps.

[2020-04-07 20:34] #57 closed

[2020-04-07 20:35] kiukchung commented on #64
obsolete as of 0.2.0

[2020-04-07 20:35] #64 closed

[2020-04-07 21:25] Jeffwan commented on #90
@chauhang Check here https://github.com/pytorch/elastic/issues/26

I think this is kubernetes unrelated, more on the framework side itself.

[2020-04-07 21:26] Jeffwan commented on #58
@chauhang

What about following command? I forget to ask you specify namespace
[code]

[2020-04-07 23:38] chauhang commented on #58
@Jeffwan That works! thanks

[2020-04-08 19:50] rohan-varma opened #91 "Missing link in PET docs"
## 📚 Documentation
There's a missing link on the docs page on this page: https://pytorch.org/elastic/0.2.0.dev0/quickstart.html

## Link
https://pytorch.org/elastic/0.2.0.dev0/quickstart.html

## What does it currently say?
"Learn more about writing your distributed training script here <train_script.html>."

## What should it say?
It should link correctly to train_script.html
### Why?
The correct

[2020-04-09 07:52] kiukchung commented on #26
we have a new imagenet example in v0.2.0 feel free to reopen if the issue persists.

[2020-04-09 07:52] #26 closed

[2020-04-09 07:53] kiukchung commented on #58
we have a new imagenet example in v0.2.0 feel free to open an issue if you see issues running it on TEK

[2020-04-09 07:53] #58 closed

[2020-04-09 07:53] kiukchung commented on #10
no longer relevant in  v0.2.0

[2020-04-09 07:53] #10 closed

[2020-04-09 07:54] kiukchung commented on #6
no longer relevant in pet v0.2.0

[2020-04-09 07:54] #6 closed

[2020-04-09 07:54] kiukchung commented on #90
we have a new imagenet example with v0.2.0 feel free to reopen if the issue persists.

[2020-04-09 07:54] #90 closed

[2020-04-09 07:55] kiukchung commented on #91
thanks for reporting! this will be fixed along with our rc1 release tomorrow.

[2020-04-14 23:32] mttcnnff opened #94 "Kubernetes Konfusion"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before submitting, please ensure you have gone through our documentation. Here
are some links that may be helpful:

* [What is torchelastic?](../../README.md)
* [Quickstart on AWS](../../aws/README.md)
* [Usage](../../USAGE.md)
* [Examples](../../examples/README.md)
* API documentati

[2020-04-14 23:47] kiukchung commented on #94
Apologies for the confusion. https://github.com/pytorch/elastic/tree/master/examples/kubernetes/native is deprecated and scheduled for deletion. Please follow the link to the README in http://pytorch.org/elastic/0.2.0rc0/kubernetes.html.

Closing, feel free to re-open if things are still ambiguous.

[2020-04-14 23:47] #94 closed

[2020-04-15 00:07] mttcnnff commented on #94
@kiukchung Thanks for the clarification, all good now!

BTW is the preferred workflow to have training code in the image you pull to run, or download from some external source like s3? Just looking for guidance.

[2020-04-15 06:26] kiukchung commented on #94
@mttcnnff sounds good, thanks for reporting. For production use-cases you'd want to have your CI/CD pipeline produce a docker image that is versioned and contains the tested and vetted code. This keeps things sane in terms of operational stability and debuggability.

I'm going to assume you are using AWS:

For experimentation, you want fast iteration hence having a utility launcher that uploads yo

[2020-04-15 14:45] mttcnnff commented on #94
@kiukchung seems reasonable! Thanks for the pointers, love what you're working on! 🙏

[2020-04-16 18:59] mttcnnff opened #95 "pip install torchelastic fails looking for torch 1.5"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before submitting, please ensure you have gone through our documentation. Here
are some links that may be helpful:

* [What is torchelastic?](../../README.md)
* [Quickstart on AWS](../../aws/README.md)
* [Usage](../../USAGE.md)
* [Examples](../../examples/README.md)
* API documentati

[2020-04-16 19:13] kiukchung commented on #95
Please install torch-1.5.0 nightly by following the instructions here:
https://github.com/pytorch/elastic/blob/master/requirements.txt#L3

This is temporary and we will be switching to torch-1.5.0 proper when it is released.

[2020-04-16 19:59] mttcnnff commented on #95
Thanks! Didn't see that

[2020-04-16 19:59] #95 closed

[2020-04-17 22:40] kiukchung commented on #91
Fixed in: https://pytorch.org/elastic/0.2.0rc1/quickstart.html

<img width="855" alt="image" src="https://user-images.githubusercontent.com/43595115/79619451-bf9cf700-80c1-11ea-9d1b-5994e5b2bfdf.png">

[2020-04-17 22:40] #91 closed

[2020-04-27 18:58] mttcnnff opened #97 "How to run elastically on kubernetes (nnodes vs worker replicas)"
### Question
- On the frontpage README.md of the repo it says to run Elastic on 1 ~ 4 nodes, 8 trainers/node, total 8 ~ 32 trainers. Job starts as soon as 1 node is healthy, you may add up to 4 nodes.

[code]

- In the docs for the kube example it says:
[code]

- When I try to run with a minReplicas of 1, maxReplicas of 2, and replicas of 2 and **the autoscaling group for my training nodes only ha

[2020-04-27 21:25] tierex commented on #97
Hi Matthew, thank you for your question.
When a new node joins the cluster, the amount of nodes changes in the system and we need to redistribute ranks. The safes way to do that is to stop all the workers that run the user training scripts and perform rank distribution.
Please look at the example https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py to see how you can implement

[2020-04-27 23:43] mttcnnff commented on #97
@tierex thanks for your answer! I actually was using the imagenet code.

Just to make sure I understand you, when a node joins and we redistribute ranks, we use the most recent checkpoint to restore state everywhere. If there is no checkpoint yet, but we were partially through an epoch we would lose the partial progress of that epoch when ranks are redistributed.

Is that accurate?

[2020-04-28 02:52] tierex opened #98 "User loss of work if the cluster change occurs in the middle of the epoch"
## Description
Currently, when the cluster membership change occurs, the agent will kill all the workers that run users script, perform rank redistribution and spawn them again. Since there is neither feedback mechanism nor communication protocol between workers and agent, the user can lose computational work since the last checkpoint.

[2020-04-28 02:52] tierex commented on #97
Yes, @mttcnnff  this is correct. Currently, torchelastic is agnostic about user scripts, as a result we cannot wait while epoch finishes when the cluster membership change occurs. Eventually, we are planning to fix it, I created a feature request to keep track of this issue: https://github.com/pytorch/elastic/issues/98

[2020-04-28 03:44] umialpha opened #99 "A pytorch-native ElasticDDP module proposal"
## Motivation/Background

Whenever PET needs to `scale up`, `scale down` or `recover from failure`, the `ElasticAgent` kills and restarts the process.  The major benefit of this approach is that users can leverage elasticity without any change of the code. However, it has some drawbacks.

1. Killing and Restarting typically takes 30 secs or even more. This overhead puts a limit on the frequency of

[2020-04-30 16:29] #97 closed

[2020-05-13 20:20] #39 closed

[2020-05-13 20:21] #11 closed

[2020-06-11 05:57] vibhatha opened #102 "Pytorch Elastic with NCCL backend"
I have gone through the code and tested a couple of examples. I have a question on running with NCCL backend with the `init_method env://`.

In this method the master address and master port are required. But in the examples we don't specify this as a ENV variable. How is this handled within the code?
Rz refers to Rendezvous

Or as the custom Rz-handler used here is the ETCDRzHandler, it is the on

[2020-06-12 06:01] kiukchung commented on #102
Thanks for the questions. The agent makes sure that the correct environment variables are set in the worker processes in such a way that it is torch-compliant (eg you can trivially initialize process groups).

By default the EtcdRendezvousHandler is used from the launcher.

In any topology, it is completely up to you on how you want to create process groups. Torchelastic won’t create process group

[2020-06-16 23:38] vibhatha commented on #102
@kiukchung Thanks for the response.

I have a few questions from the current information,

1. When someone adds the init_method in initializing process groups (assume this is the only call to start up the training processes), if the init_method=env:// is passed, as long as we use PTE launcher, this config would be ignored in torch.dist rendezvous? (Referring to this method https://github.com/pytor

[2020-06-22 20:25] kiukchung commented on #102
@vibhatha please see my answers below:

1. The `init_method=env://` maps to a different rendezvous handler. Typically without TorchElastic the user has to set the `WORLD_SIZE` and `RANK` env vars when launching the workers, since TorchElastic does this for you, you can simply set the `init_method=env://` and not worry about rendezvous in your script's code or when you are launching your script.

2

[2020-06-22 23:25] vibhatha commented on #102
@kiukchung

Thanks for the response. I got some more questions on the current PyTorch Elastic model.

In 3, you mention "elastic used to use torch's rendezvous", why existing rendezvous was not used. Is it because the existing rendezvous deals with static world_size? But still, within the EtcdRendezvous handler, that handler is registered using the Pytorch rendezvous. So it is not independent of P

[2020-07-01 20:42] SeanNaren opened #112 "Trouble connecting PersistentVolume/Claim to ElasticJob"
Hey guys!

Use case here is to create a disk, populate it with data, and then in ReadWriteOnce mode connect it to the ElasticJob using k8 configs. To extend this, I'd like to move from ReadWriteOnce to ReadOnlyMany to act as a datastore that all nodes can read the dataset from!

Unfortunately it seems after populating the disk, the ElasticJob comes back with a `persistentvolumeclaim "audio-data-cl

[2020-07-02 00:07] kiukchung commented on #112
Thanks for reporting! I'm not familiar with GCP so bear with me while we figure this out (although from your description it seems like we can stay in k8s land).

A couple of questions:

1. Does the trainer fail with the `pvc not found` error before it even reaches the launcher command? The full logs would be helpful.
2.  "With an non-elastic job I can see the disk has been populated and mounted."

[2020-07-02 08:58] SeanNaren commented on #112
Hey! @kiukchung thanks :) I'll get the full logs, but regarding 2. I've attached the file already above as `check_storage.yaml`. It uses a vanilla Pod!

[2020-07-02 18:40] SeanNaren commented on #112
Seems like I managed to fix this making sure that all the configs are in the elastic-job namespace by adding these:

[code]

I'm running into an issue based on not enough GPU resources (I just have 1 node available), but that's a separate issue :)

[2020-07-02 18:40] #112 closed

[2020-07-20 18:24] mckunkel opened #113 "ValueError: host not found: Name or service not known with torchelastic"
### Question
I have a piece of code that runs with torch.distributed.launch.
I modified the code to launch via torchelastic.distributed.launch in the prescribed manner as seen in the examples from the github page and the official pytorch documetation.

However whenI run the code I get the following error

`[INFO] 2020-07-20 14:09:18,781 launch: Running torchelastic.distributed.launch with args: ['

[2020-07-20 20:53] kiukchung commented on #113
Thanks for reporting. Seems like a routing issue. torchelastic uses node rank 0's FQDN as the `MASTER_ADDR`. On the node you are seeing this issue can you validate that you are able to ping the `MASTER_ADDR`?

[2020-07-21 01:21] mckunkel commented on #113
Thanks for the prompt reply. It seemed that my etcd server was not setup properly. I switched to a different version and it ran, but now I am facing another issue with -shm (shared memory) in torchelastic.distributed using kubernetes, that I haven't seen (same code base, same dockerfile + torch elastic) using torch.distributed
I am hunting the this new problem.

[2020-07-23 02:35] #113 closed

[2020-07-23 02:56] mckunkel opened #114 "Wrapping elastic-job kubernetes in initcontainer"
After successfully running a ElasticJob on kubernetes, I would like to move the contents of an output folder to another location. For instance, my kubernetes cluster is actually EKS and I want to put output to S3.
I would usually wrap my Job/Deployment/Pod/.. such that the container moves the value of an initcontainer which actually performs the training, i.e.

`apiVersion: v1

kind: Pod
spec:
  n

[2020-07-24 03:19] kiukchung commented on #114
Could you upload the output directly from the trainers (as the last step in the script)? If you need one worker to upload then you could have rank 0 upload the output.

[2020-07-24 12:16] mckunkel commented on #114
I could, but I really rather keep the AWS:EKS/GCP:GKE calls native to their platform.
Can the entrypoint for elasticjob be modified such that it takes a script first then passes the args?
Then I can wrap everything into a bash script, throw it into a config map and be done.

I tried running it all through a bash scrip, but the launch didn't like it.

[2020-07-27 21:00] kiukchung commented on #114
I see, yea if you are working with multiple cloud providers, what you are trying to do makes sense.

Can you elaborate on the above (I think this was your initial question about the host not being reachable)? There is nothing specific to routing in torchelastic. If you can ping a host:port from one node, then you should be able to create a socket to the destination host in your training script.

Y

[2020-07-27 21:11] kiukchung commented on #102
Apologize for the late reply here. Please find my comments below

The architecture of how/when torchelastic performs rendezvous is different from how pytorch does it. Torchelastic performs rdzv per node whereas pytorch does this per worker.

Not exactly. The short answer is rendezvous in torchelastic is an implementation detail that the user need not worry about. We also defined our own rdzv handl

[2020-07-27 21:15] kiukchung commented on #99
Thanks for the proposal! Based on where torchelastic is with v0.2, this proposal  fits better with pytorch distributed more than it does with torchelastic. Feel free to open an RFC on the pytorch github and tag me as a reviewer.

[2020-07-27 21:15] #99 closed

[2020-08-03 08:27] yqwang-ms opened #115 "ClassyVision distributed training hang after scaledown training Nodes"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [x] `train_loop`
 * [x] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [x] `examples`
 * [x] `docker`
 * [ ] `other`

## Background
We are also trying to support PET on K8s, and the [ImageNet Example](https://github.com/pytorch/elastic/tree/master/examples/imagenet) i

[2020-08-04 11:41] yqwang-ms commented on #115
@kiukchung could you please help to check this ClassyVision on PET issue? :)
cc @Jeffwan as this also involves PET on K8s.

[2020-08-04 14:06] vreis commented on #115
Thanks for the detailed report, @yqwang-ms!

You mention there's an issue with https://github.com/facebookresearch/ClassyVision/blob/master/examples/elastic/docker-compose.yaml can you please elaborate what the issue is? Is it that training is too short (num_epochs=2)?

[2020-08-05 00:26] mckunkel commented on #114
I ended up creating a bash script to take the arguments for torch.elastic and run my pre and post training commands inside this script. I generalized the script enough to work on multiple cloud providers.
Thanks for the advice.

[2020-08-05 00:26] #114 closed

[2020-08-05 02:03] yqwang-ms commented on #115
@vreis, thanks checking this!
The issue is about the "ClassyVision distributed training (ddp)" will hang for "the scaledown feature of pytorch elastic training".
It not only happens for one specific example, such as the https://github.com/facebookresearch/ClassyVision/blob/master/examples/elastic/docker-compose.yaml.

For the issue details, symptoms and reproduce steps, pls check the issus section

[2020-08-05 16:38] kiukchung commented on #115
Hi @yqwang-ms, apologies for the late response. To make scale-downs work using the NCCL backend (e.g. GPU training) it is imperative that you set the env var `NCCL_BLOCKING_WAIT=1` and specify a sensible timeout when initializing the process group.

For the image net example we do this here (which is why you are not observing the "hanging" behavior): https://github.com/pytorch/elastic/blob/master/

[2020-08-06 02:45] yqwang-ms commented on #115
Big thanks to @kiukchung ! I will try it later.
BTW, your info about this is very valuable, and would better also put them in the example wiki?
(So that others will not meet the same issue again :))

And for the https://github.com/facebookresearch/ClassyVision/blob/master/examples/elastic/docker-compose.yaml
It seems has this issue given ddp is used, so may need to communicate with ClassyVision te

[2020-08-10 16:49] kiukchung opened #116 "Improve docs on writing training scripts compatible with scale down"
## 📚 Documentation

## Link
<not an issue with existing doc>

## What does it currently say?
Current doc does not have explicit instructions on setting `NCCL_BLOCKING_WAIT` which is essential for scale-downs with `nccl` as the process group backend since it ensures that workers do not get blocked forever waiting for others in the nccl kernel. See https://github.com/pytorch/elastic/issues/115 for m

[2020-08-10 16:50] kiukchung commented on #115
Thanks for reporting! We'll make sure to update the docs for our next release. I've created an issue to ensure this happens: https://github.com/pytorch/elastic/issues/116. Closing for now. Feel free to reopen if you still encounter issues.

[2020-08-10 16:50] #115 closed

[2020-08-11 02:44] gaocegege opened #117 "[request] Do we have plan to merge Kubernetes part to kubeflow/pytorch-operator?"
cc @Jeffwan

I think we share the similar scope between pytorch-operator and elasticjob-operator. I am wondering if we can collaborate to support PyTorch and PyTorch elastic well.

[2020-08-11 21:32] kiukchung commented on #117
Hi @gaocegege thanks for bringing this up! We've been looking into adding support for TorchElastic parameters to the existing Kubeflow pytorch operators and are planning to bundle TorchElastic in the [pytorch docker image](https://hub.docker.com/r/pytorch/pytorch) for the pytorch 1.7 release - which shouldn't be a blocker for the Kubeflow work but certainly makes things smoother for users.

We wel

[2020-08-12 01:39] gaocegege commented on #117
@kiukchung Thanks for your reply! We are glad to support it in PyTorch operator, and we can help implement or propose it in Kubeflow community.

[2020-08-12 01:42] gaocegege commented on #117
/cc @johnugeorge @andreyvelich @kuikuikuizzZ

[2020-08-12 03:11] kiukchung commented on #117
That would be awesome! I think we can approach this from both sides. You from Kubeflow side and us from PyTorch/TorchElastic side.

We can help from torchelastic and pytorch side and review/expedite relevant PRs and prioritize any changes required on TorchElastic or PyTorch (in general Facebook side) user-facing APIs and documentation to make the work on your end smoother (e.g bundling torchelasti

[2020-08-12 03:27] gaocegege commented on #117
Yeah, we are going to have some action items these days and maybe we will have some specific asks when we are ready. Thanks for your help!

[2020-08-12 03:30] jspisak commented on #117
+1 @gaocegege - thanks for reaching out on this! KubeFlow is a high priority platform for us so anything we can do to make it easier for users to leverage advanced features would be great, especially if we can collaborate to make it happen..

cc @chauhang

[2020-08-13 17:45] Jeffwan commented on #117
@gaocegege @kiukchung I can write a proposal on it. It needs some interface changes. We can have some discussion by end of month.

[2020-08-13 23:11] kiukchung commented on #117
sounds good @Jeffwan, looking forward to the proposal!

[2020-08-14 02:29] gaocegege commented on #117
@Jeffwan Thanks! Looking forward to it.

[2020-09-16 06:55] gaocegege commented on #117
ping @Jeffwan

Any progress for the issue?

[2020-09-30 07:36] kuikuikuizzZ opened #128 "Add env support for the training script argument"
## Description

A custom use for this elastic tools is as below:

        --nnodes=$NUM_NODES
        --nproc_per_node=$WORKERS_PER_NODE
        --rdzv_id=$JOB_ID
        --rdzv_backend=etcd
        --rdzv_endpoint=$ETCD_HOST:$ETCD_PORT
        main.py
        --arch resnet18
        --epochs 20
        --batch-size 32
        <DATA_DIR>

Is that possible support args: nnodes, rdzv_id, rdzv_backen

[2020-09-30 23:41] kiukchung commented on #128
thanks for the feedback, should be simple enough to add. If we follow a convention of making the env var setting as `TORCHELASTIC_{argument}` (e.g. `TORCHELASTIC_NNODES`, `TORCHELASTIC_NPROC_PER_NODE`, `TORCHELASTIC_RDZV_ID`, etc) would this work?

[2020-10-02 05:49] kuikuikuizzZ commented on #128
LGTM, thanks for the support.

[2020-10-03 05:15] kiukchung commented on #128
I had to use `PET_{argument}` (e.g. `PET_NNODES`, `PET_NPROC_PER_NODE`) - PET stands for Pytorch Elastic Trainer (our codename) - because `TORCHELASTIC_` prefix is used internally by the torchelastic agent for certain things. The behavior is that the command-line argument wins over env vars and finally defaults to the `default` set in the program.  For instance:
[code]

positionals (script and scr

[2020-10-03 05:29] kiukchung commented on #117
@gaocegege did you have some thoughts on how we can merge `elasticjob-operator` with `pytorch-operator`? FWIW torchelastic is being bundled with the PT docker (https://github.com/pytorch/pytorch/blob/master/Dockerfile#L55) in the next PT release so it should make things simpler to add an option to the existing `pytorch-operator` to wrap the entrypoint with `python -m torchelastic.distributed.launc

[2020-10-03 06:12] darthsuogles opened #130 "How to programmatically determine if a training job has finished using `kubectl`?"
## ❓ Questions and Help
How to programmatically determine if a training job has finished using `kubectl`?
The field `status.replicaStatuses.Worker.succeeded` seems to indicate the number of succeeded pods.
How does one determine if the whole job has succeeded?
This is useful when the training job is part of a workflow (e.g. orchestrated by argo or airflow).

### Please note that this issue tracker

[2020-10-04 01:41] gaocegege commented on #117
cc @Jeffwan

[2020-10-05 18:35] darthsuogles commented on #130
CC: @kiukchung

[2020-10-05 19:03] kiukchung commented on #130
Thanks for the question. This is actually something that can be improved in our current k8s controller. Since we don't rely on any type of gang scheduling but rather deploy each container as a Pod there isn't a scheduler provided "done" signal that we can use when you try to use an elastic job as part of a workflow. You can use certain heuristics, for instance, if you are in "non-elastic" mode (mi

[2020-10-05 19:29] kiukchung commented on #128
PR merged and released as part of torchelastic.0.2.1

[2020-10-05 19:29] #128 closed

[2020-10-08 18:30] Jeffwan commented on #117
That's a good news. operator will only used for orchestration, it's user's responsibility to wrap entrypoint. I think operator side we can determine if that's a torch elastic job by checking args or envs. common logic will be similar, adding/removing pods will be allowed for elastic job. (it's not allowed for general torch jobs).

It's a little bit delayed, I was busy with testing-infra issue in k

[2020-10-28 08:18] #130 closed

[2020-11-13 04:37] kiukchung commented on #116
Once https://github.com/pytorch/elastic/pull/133 is merged, the torchelastic agent will by default have a safe-guard for NCCL hangs due to scale down events. `NCCL_ASYNC_ERROR_HANDLING` is better than `NCCL_BLOCKING_WAIT` as it "asynchronously" handles errors and prevents "hangs" versus the sync version with `NCCL_BLOCKING_WAIT`.

[2020-11-13 04:37] #116 closed

[2020-11-16 05:39] ruipeterpan opened #134 "Elastic agent doesn't detect worker failures in NCCL"
## Context

I have been using torchelastic for a while to launch fault-tolerant jobs on CPUs using the `gloo` backend. I was switching to GPUs so that I can use `broadcast` and `reduce`.  I firstly made the necessary modifications to move everything onto GPUs. Then, I changed the backend for group initialization from `gloo` to `nccl` hoping things will work as before. However, for `nccl`, when som

[2020-11-16 18:41] tchaton commented on #134
Hey there,

I think I have the same trouble.
Any updates ?

Best regards,
Thomas Chaton.

[2020-11-16 20:22] ruipeterpan commented on #134
@tchaton Unfortunately I haven't been able to resolve this issue :(

[2020-11-16 21:03] kiukchung commented on #134
Thanks for the question. Have you tried setting `NCCL_BLOCKING_WAIT` (or if you are using pytorch nightly - `NCCL_ASYNC_ERROR_HANDLING` env var on your trainers?
https://pytorch.org/docs/stable/distributed.html

[2020-11-16 21:13] ruipeterpan commented on #134
Hey @kiukchung thanks for the pointer! Setting the environment variable `export NCCL_BLOCKING_WAIT=1` makes the previously-hanging worker throw the following error, which is subsequently caught by the elastic agent.

[code]

Thanks again for the quick help! Closing this issue.

[2020-11-16 21:13] #134 closed

[2020-11-16 21:33] tchaton opened #135 "Pytorch Lightning with TorchElastic - One worker doesn't start"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [ ] other

## To Reproduce

Steps to reproduce the behavior:

Somehow, one of the worker doesn't start. Any idea what is wrong ?

<img width="1404" alt="Screenshot

[2020-11-17 21:42] kiukchung commented on #135
Thanks for the question! I believe the issue is in this command:
[code]

The job is launched with 1x nodes and 1x proc_per_node, but `num_nodes=2` is being passed into the script which I'm guessing is then passed to the process group. Looking at the logs the line:

[code]
Suggests that torchelastic sucessfully rendezvous'ed and started the script, then the script itself gets stuck waiting for a to

[2020-11-17 21:45] kiukchung commented on #135
BTW - with torchelastic there is no need to pass `num_nodes` into ddp manually. The elastic agent ensures that the env vars on the workers are set correctly so that the process group can be initialized with no arguments.  See https://pytorch.org/elastic/0.2.1/train_script.html for more info.

[2020-12-09 22:45] osalpekar opened #136 "Enable NCCL_ASYNC_ERROR_HANDLING in Torchelastic"
## Description
We've introduced a new option in PyTorch that significantly improves reliability in PyTorch DDP training jobs that use NCCL. More info can be found here: https://github.com/pytorch/pytorch/issues/46874. This option essentially prevents stuck collectives from blocking DDP training progress by catching these stuck collectives and bringing down the training process. This introduces no

[2020-12-09 23:38] osalpekar commented on #136
Closed by #133

[2020-12-09 23:38] #136 closed

[2020-12-15 20:22] kiukchung commented on #135
closing, feel free to reopen if you are still having issues.

[2020-12-15 20:22] #135 closed

[2020-12-15 20:30] kiukchung commented on #117
sorry for the late reply.

@Jeffwan -
1. torchelastic 0.2.1 has been released as of 10/05/2020 (https://pypi.org/project/torchelastic/#history)
2. As of PT 1.7 torchelastic 0.2.1+ is bundled with the main PT docker

what do you recommend are the next steps? cc) @chauhang , @jspisak, @BorisValkov5

[2020-12-23 06:40] VincentLeeMax commented on #25
Hi, @kiukchung，I encountered this problem, setting `--num_workers 0` works for me, but the training become very slow, any idea of this problem?

[2020-12-23 10:32] gaocegege commented on #117
Awesome! I think it LGTM:

[2020-12-28 16:43] gaocegege commented on #117
I looked through the code base of elastic and elasticjob operator, and propose such design in pytorch-operator:

[code]

The switch `EnableDynamicWorker` is similar to https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/tensorflow/v1/types.go#L67, but maybe we could have a declarative API `DynamicWorker`. It is used to decide if we should inject the corresponding entrypoint and args.

The

[2021-01-04 11:15] andreyvelich commented on #117
Thanks @gaocegege.
Should we follow the same way as TFJob instead of using pointer `*bool`?
[code]

From my perspective, all new APIs should follow the Kubernetes version policy structure.
With this process: alpha->beta->stable.

Currently, we have only v1 version of API: https://github.com/kubeflow/pytorch-operator/tree/master/pkg/apis/pytorch.
What do you think @gaocegege @johnugeorge ?

[2021-01-04 12:14] gaocegege commented on #117
I think it should be a pointer since it can be nil.

[2021-01-08 18:58] kiukchung commented on #117
cc) @drdarshan

[2021-01-25 00:14] thecooltechguy opened #140 "Torch Elastic - How to make sure all nodes are in the same AZ?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before submitting, please ensure you have gone through our documentation. Here
are some links that may be helpful:

* [What is torchelastic?](../../README.md)
* [Quickstart on AWS](../../aws/README.md)
* [Usage](../../USAGE.md)
* [Examples](../../examples/README.md)
* API documentati

[2021-03-06 15:36] DavidSpek opened #142 "Support PyTorch 1.8, TorchVision 0.9.0 and TorchAduio 0.8.0"
## 🐛 Bug

I am getting a Pip error when trying to install TorchElastic 0.2.2 with the recently released PyTorch 1.8. Seems like a small patch update will be needed to fix the requirement issue.
https://github.com/pytorch/pytorch/releases/tag/v1.8.0

[2021-03-08 19:11] DavidSpek commented on #142
@kiukchung Should I open a PR to change https://github.com/pytorch/elastic/blob/master/requirements.txt to `toch>=1.8.0`? Is that the cause of the current incompatibility with torch 1.8.

[2021-03-08 19:16] kiukchung commented on #142
@DavidSpek - thanks for reporting. Could you provide the details of the pip error?

[2021-03-08 19:24] DavidSpek commented on #142
@kiukchung I'm very sorry but this seems to have been an error on my part. I was trying to build a docker image and the message made it seem like torchelastic had a dependency issue with torch. The problem was actually that torchelastic with the dependency torch>=1.8.0dev was conflicting with a package that does not yet support torch 1.8. Thank you for the quick response and again sorry for the in

[2021-03-08 19:24] #142 closed

[2021-03-17 13:23] GwangsooHong opened #145 "ModuleNotFoundError: No module named 'torch.distributed.elastic'"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [x] other

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/elastic
2. cd elastic; docker build -t elastic:1.5-py3 -f Doc

[2021-03-17 13:28] GwangsooHong commented on #145
I changed dockerfile from `FROM pytorch/pytorch:1.5-cuda10.1-cudnn7-runtime` to `FROM pytorch/pytorch:1.8.0-cuda11.1-cudnn8-runtime`. I also got a ModuleNotFoundError: No module named 'torch.distributed.elastic' error.

[2021-03-17 17:47] kiukchung commented on #145
Hi, the docker image: `pytorch/pytorch:1.8.0-cuda11.1-cudnn8-runtime` already has torchelastic installed, no need to build a separate docker. Hope that helps.

[2021-03-17 17:48] kiukchung commented on #142
FWIW the pytorch-1.8 docker images already have torchelastic installed.

[2021-03-17 17:53] DavidSpek commented on #142
@kiukchung Thanks for the info. The images I am working on are the ones that will ship with the upcoming Kubeflow release, and PyTorch and TensorFlow use a common base image I made so using the PyTorch docker image isn't an option. But it's good to know it is included for other use cases.

[2021-03-17 17:58] kiukchung commented on #140
I believe this is possible in EKS by specifying multiple subnets on the VPC into which the EKS cluster launches. This doc may be helpful: https://docs.aws.amazon.com/eks/latest/userguide/eks-networking.html.

cc) @Jeffwan for question regarding pod packing.

[2021-03-17 18:20] kiukchung commented on #142
ah gotcha, btw torchelastic is being upstreamed to pytorch (see https://github.com/pytorch/pytorch/issues/50621), we are about 70% through with the code move (this is why our CI tests are broken at the moment). torchelastic will be natively available through the pytorch package starting torch-1.9.

[2021-03-17 18:32] DavidSpek commented on #142
Awesome, I think that move makes a lot of sense.

[2021-03-17 23:46] GwangsooHong commented on #145
Hi, I checked the `torchelastic` installed but got a no module `torch.distributed.elastic` error.  Do I need additional installation?

For reproduction, I ran the `docker run -it --runtime=nvidia -v $(pwd):/workspace pytorch/pytorch:1.8.0-cuda11.1-cudnn8-runtime`
and
[code]

[2021-03-18 00:09] kiukchung commented on #145
torch.distributed.elastic does not exist in torch1.8. torchelastic is under the torchelastic module.

[2021-03-19 14:36] jnkl314 commented on #98
Hi,
I'm running distributed training with torchelastic (thanks a lot for the amazing work btw!), and I have very long epochs. So any change in the number of workers (or when using preemptible nodes) results in large computation waste since last checkpoint.
Is there any update on this issue ? Or any hint to a workaround for now ?
Would it be possible to detect when a worker group is about to stop ?

[2021-03-19 20:36] Jeffwan commented on #140
There're multiple ways to achieve this.

1. AWS EKS just give you the control plane, you can add a node group within single AZ to the cluster. The workloads automatically fit into same AZ.

2. In order to have high availability, some users still want to have multi-AZ data plane (single ASG). In this case, you need to leverage scheduling features. Either use nodeSelector or nodeAffinity to [assign

[2021-04-18 09:53] Godricly opened #147 "Out of Data documentation"
## 📚 Documentation
1. In the documentation, there is a submodule `multiprocessing`. But I can't find it.

## Link
https://pytorch.org/elastic/0.2.2/multiprocessing.html#torchelastic.multiprocessing.start_processes

## What does it currently say?
[code]

## What should it say?
I don't know. I can't find the multiprocessing module.

### Others
1.pip can't install torchelastic==0.2.2
 I used pip to i

[2021-04-19 02:43] Godricly commented on #147
Update:
torchelastic requires python3.8+...
Now I can download v0.2.2 version.

[2021-04-19 02:50] Godricly commented on #147
[code]
This one still fails in v0.2.2
[code]

[2021-04-19 17:52] #145 closed

[2021-04-19 17:59] kiukchung commented on #147
Thank you for the report! Yes indeed this is an error in the documentation. It should read

[code]

FWIW, torchelastic has been upstreamed to pytorch (under `torch.distributed.elastic`) the new location of this module is:
https://github.com/pytorch/pytorch/blob/master/torch/distributed/elastic/multiprocessing/__init__.py#L74

We will update the documentation with the upcoming pytorch 1.9 release.

[2021-04-19 17:59] #147 closed

[2021-04-20 02:06] Godricly commented on #147
Does the pytorch1.9 require python3.8?

[2021-05-17 15:47] #75 closed

[2021-05-17 15:47] #12 closed

[2021-05-17 15:47] #140 closed

[2021-05-17 15:48] #102 closed

[2021-05-30 13:36] assapin opened #150 "Imagenet example fails during accuracy calculation (v0.2.2 on 1.8.1)"
## 🐛 Bug

When running the imagenet example from examples/imagenet,
I get the following error:

[INFO] 2021-05-30 13:09:18,531 api: [default] Starting worker group
=> set cuda device = 0
=> creating model: resnet18
=> no workers have checkpoints, starting from epoch 0
=> start_epoch: 0, best_acc1: 0
Traceback (most recent call last):
  File "main.py", line 594, in <module>
    main()
  File "main.

[2021-05-30 13:39] assapin commented on #150
I see you fixed it in master.
Was going to do a pull request.... next time :-)

[2021-05-30 13:39] #150 closed

[2021-06-03 11:51] PKUFlyingPig opened #151 "Cannot reuse --rdzv_id between different elastic launch ?"
### Question
I followed the tutorial and used the following command to launch the torchelastic:
[code]
I run the same command on two nodes, and they run successfully, But when I killed one the node process with ctrl-C, the other node also aborted. Here is the traceback if helps:
[code]
I searched for this exception and it says "This Exception is raised when a rendezvous for the specified run_id is

[2021-06-18 14:08] vv-p opened #152 "EtcdStore: AttributeError: can't set attribute"
Hi,

I have the following error when I try to run my code with torchelastic:

[code]

Steps to reproduce:

[code]

I've tried several different versions of torch and torchelastic (latest stable included) but nothing happened, error is still here. Can you help me please, what does this error mean ? How I can fix it ?

os    centos 7
python    python3.8.3
torch                  1.9.0
torchelastic

[2021-07-01 11:19] melgor commented on #152
I also faced this problem, but I managed to resolve it. In my case, it was just using `torchelastic` instead of `torch` for starting the jobs as `torchelastic` is now deprecated (https://pytorch.org/blog/pytorch-1.9-released/#beta-torchelastic-is-now-part-of-core)

So exactly, I changed:
`python3 -m torchelastic.distributed.launch`
to ([documentation](https://pytorch.org/docs/stable/elastic/run.ht

[2021-08-04 08:55] gaocegege commented on #117
Elastic is merged into PyTorch 1.9 and it is released, I think we can support it in pytorch-operator now.

[2021-08-05 08:11] 5had3z opened #157 "Kubernetes CustomResourceDefinition Moving out of Beta"
## 🐛 Bug

apiextensions.k8s.io/v1beta1 has been depricated in favour of GA release and elastic.pytorch.org_elasticjobs.yaml no longer conforms to the new spec.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `m

[2021-08-06 03:52] kiukchung commented on #157
Thanks reporting! As of torch-1.9.0 the torchelastic-core has been upstreamed to `torch.distributed.elastic` and "extensions" such as this Kubernetes CRD is now being actively worked on from pytorch/torchx. Since you are just getting started building out your infra I believe TorchX will be a better fit for your particular usecase.

Check out these pages:
1. Quickstart guide: https://pytorch.org/to

[2021-08-07 04:32] 5had3z commented on #157
Hi Kiuk,

It seems that volcano also might have issues with the latest version of kubernetes as well, I guess it maybe best for me to rollback?

Running the standard install from them results in the pod configuration below:
[code]

With the description and logs of the pod:
[code]
[code]

So when I try running the torchX 'hello world' after installing with the command below I get the following resu

[2021-08-07 05:42] 5had3z commented on #157
Volcano works if I use v1.3.0 yaml config instead of master, but the key error still exists with TorchX, should I raise the issue over there?

[code]
[code]
[code]
[code]

[2021-08-07 05:48] kiukchung commented on #157
thanks for trying torchx out. Yes please do file an issue in torchx github with this bug report and we’ll take a look at what’s going on and have a fix for you promptly.

[2021-08-07 05:49] #157 closed

[2021-09-14 00:58] jonathan-conder-sm opened #158 "submodule path docs/src/pytorch-sphinx-theme not in .gitmodules"
## 🐛 Bug

The submodule `docs/src/pytorch-sphinx-theme` seems to be broken.
This prevents the following command from working:
[code]
(workaround is to clone the repo first, but the former is more convenient).

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`

[2021-10-12 20:24] vadimkantorov opened #159 "[feature request] petctl to support pulling script directory from github repo by commit or tag"
This is useful to not think about to avoid submitting unnecessary code modifications to AWS.

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [v] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [ ] other

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expe

[2021-10-12 20:26] vadimkantorov opened #160 "Is petctl also deprecated?"
If this repo is deprecated, it may make sense to move out cloud scripts to a not-deprecated one. Having the most-simple-but-working automated cloud setup is very useful.

[2021-11-03 02:36] gaocegege opened #162 "[feature request] Add CPU example"
## Description

Add CPU ImageNet or MNIST example

## Motivation/Background

Now we only have GPU ImageNet example, which requires multiple GPUs to test the feature. It is better to support CPU.

I hacked the GPU ImageNet example to support CPU locally. I'd appreciate if we can support it in this repo.

[2021-11-12 07:13] gaocegege commented on #117
FYI, there's a proposal https://github.com/kubeflow/community/pull/522 to support Torch Elastic in Kubeflow. And we implemented the MVP here https://github.com/kubeflow/training-operator/pull/1453

It is tested with the echo and imagenet example (with some changes to support CPU training). C10D and ETCD are both supported and tested.

worker-0 is not fault-tolerant with c10d, but it is static and

[2021-11-26 20:33] andrewemendez commented on #162
How do you support imageNet to support CPU locally, would love to learn more and setup that myself!

[2021-11-27 04:24] gaocegege commented on #162
https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/elastic/imagenet/imagenet.py

[2022-01-17 14:55] jovan-absci opened #164 "Kubernetes: ttlSecondsAfterFinished not working in ElasticJob spec"
## 🐛 Bug

I specify ttlSecondsAfterFinished in my ElasticJob spec like so:
[code]
When I inspect the elastic job yaml after it's created I see that ttlSecondsAfterFinished is not present under spec key at all, resulting in my pods remaining in my namespace until I delete them manually.

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rende

[2022-02-24 19:44] d4l3k opened #165 "rendezvous: _matches_machine_hostname doesn't resolve hostnames fully"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [x] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [ ] other

## To Reproduce

Steps to reproduce the behavior:

1. Launch a 2 node job on Kubernetes+Volcano
1.  `LOGLEVEL=INFO python -m torch.distributed.run --rdz

[2022-02-24 20:36] kiukchung commented on #165
is this from torch-1.10 or torchelastic-0.1.0rc1? if the former, then can you move this issue to pytorch and tag it with the "elastic" tag? thanks!

[2022-02-24 20:53] d4l3k commented on #165
1.10.0

[2022-07-10 13:11] wanziyu opened #168 "Please add more torch elastic training examples"
## Description
Please add more torch elastic training examples like bert model training in natural language processing.

## Motivation/Background
We cannot find other torch elastic examples.

## Alternatives

## Additional context/links

[2022-08-04 04:51] aitrics-chris opened #169 "RuntimeError: Expected all tensors to be on the same device, but found at least two devices"
## 🐛 Bug

Component (check all that applies):
 * [ ] `state api`
 * [ ] `train_step api`
 * [ ] `train_loop`
 * [ ] `rendezvous`
 * [ ] `checkpoint`
 * [ ] `rollback`
 * [ ] `metrics`
 * [ ] `petctl`
 * [ ] `examples`
 * [ ] `docker`
 * [x] other

## To Reproduce

Steps to reproduce the behavior:

1. download ``` https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py ```
2. Chang

[2022-08-04 07:12] kiukchung commented on #169
Thanks for reporting. Which version of pytorch are you using?

[2022-08-04 07:35] aitrics-chris commented on #169
Thank you for the response @kiukchung

PyTorch: 1.12.0
CUDA: 10.2
CUDNN: 7.6.5

I installed via:
[code]

Thank you.

[2022-08-04 08:40] kiukchung commented on #169
Got it, I think the fix is to change this block: https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py#L384-L387 to

[code]

e.g. just call `state.load(f, device_id)` instead of calling `torch.load(f)` (which is problematic since this will load the tensors in `f` onto the same device they were stored when they were snapshotted) then `state.apply_snapshot(snapshot, device_id)` (w

[2022-08-04 09:00] aitrics-chris commented on #169
Error solved. Thank you :)

[2022-08-04 09:00] #169 closed, assigned to nobody

[2022-08-22 08:43] aitrics-chris opened #170 "[examples/imagenet/main.py] Why doesn't elastic code contain gpu sync to compute performance, e.g. all_reduce"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Before submitting, please ensure you have gone through our documentation. Here
are some links that may be helpful:

* [What is torchelastic?](../../README.md)
* [Quickstart on AWS](../../aws/README.md)
* [Usage](../../USAGE.md)
* [Examples](../../examples/README.md)
* API documentati